@import './Typography.scss';
@import './Colors.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #0A1014;
}

.app {
  padding: 0 130px 0 130px;

  .page-logo {
    margin: 25px 0 25px 0;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .invalid-state {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    .invalid-state-text {
      @include font-big;
      color: $white;
      word-break: break-word;
    }

    .invalid-state-subtext {
      @include font-small;
      color: $grey-light;
      margin-top: 10px;
    }
  }
}