@mixin font-title {
  font: 700 80px 'Roboto', sans-serif;
}

@mixin font-big {
  font: 500 24px 'Roboto', sans-serif;
}

@mixin font-medium {
  font: 500 20px 'Roboto', sans-serif;
}

@mixin font-small {
  font: 400 16px 'Roboto', sans-serif;
}