@mixin font-title {
  font: 700 80px/88px 'Roboto', sans-serif;
  letter-spacing: 0.8px;
}

@mixin font-big {
  font: 500 24px/30px 'Roboto', sans-serif;
  letter-spacing: 0.2px;
}

@mixin font-medium {
  font: 500 20px/28px 'Roboto', sans-serif;
  letter-spacing: 0.2px;
}

@mixin font-small {
  font: 400 16px/24px 'Roboto', sans-serif;
  letter-spacing: 0.16px;
}